name: Create Release APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: PRD

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      - name: Install bundletool
        run: |
          wget https://github.com/google/bundletool/releases/download/1.15.4/bundletool-all-1.15.4.jar
          mv bundletool-all-1.15.4.jar bundletool.jar
          chmod +x bundletool.jar
          sudo mv bundletool.jar /usr/local/bin/bundletool

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Get version from build.gradle
        run: |
          VERSION_NAME=$(grep -oP "versionName = \"[^\"]+\"" app/build.gradle.kts | awk -F '"' '{print $2}')
          echo "VERSION_NAME=$VERSION_NAME" >> $GITHUB_ENV
        shell: bash

      - name: Build AAB
        run: ./gradlew bundleRelease
        env:
          RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}
          RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}

      - name: Sign APK
        run: |
          ./gradlew signingReport
          ./gradlew bundleRelease
        env:
          RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}
          RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}

      - name: Move AAB to artifact folder
        run: mv app/build/outputs/bundle/release/app-release.aab artifacts/app-release-${{ env.VERSION_NAME }}.aab
        env:
          VERSION_NAME: ${{ env.VERSION_NAME }}

      - name: Convert AAB to APK
        run: bundletool build-apks --bundle=artifacts/app-release-${{ env.VERSION_NAME }}.aab --output=artifacts/app-release-${{ env.VERSION_NAME }}.apks --mode=universal

      - name: Extract Universal APK
        run: bundletool extract-apks --apks=artifacts/app-release-${{ env.VERSION_NAME }}.apks --output-dir=artifacts/

      - name: Move APK to artifact folder
        run: mv artifacts/splits/universal.apk artifacts/app-release-${{ env.VERSION_NAME }}.apk

      - name: Upload APK artifact
        uses: actions/upload-artifact@v2
        with:
          name: release-apk-${{ env.VERSION_NAME }}
          path: artifacts/app-release-${{ env.VERSION_NAME }}.apk