name: Create Debug APK

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    environment: UAT
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 16.x
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adoptium'
          java-version: '17'

      - name: Get version from build.gradle
        run: |
          VERSION_NAME=$(grep -oP "versionName = \"[^\"]+\"" app/build.gradle.kts | awk -F '"' '{print $2}')
          DEBUG_VERSION_NAME="${VERSION_NAME}-dev"
          echo "DEBUG_VERSION_NAME=$DEBUG_VERSION_NAME" >> $GITHUB_ENV

      - name: Build Debug APK
        run: ./gradlew assembleDebug
        env:
          RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}
          RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}

      - name: Create artifacts folder
        run: mkdir -p artifacts

      - name: Move APK to artifact folder
        run: mv app/build/outputs/apk/debug/app-debug.apk artifacts/app-debug-${{ env.DEBUG_VERSION_NAME }}.apk

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk-${{ env.DEBUG_VERSION_NAME }}
          path: artifacts/app-debug-${{ env.DEBUG_VERSION_NAME }}.apk
