name: Create Release APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Get version from build.gradle
        run: |
          VERSION_NAME=$(grep -oP "versionName = \"[^\"]+\"" app/build.gradle.kts | awk -F '"' '{print $2}')
          echo "VERSION_NAME=$VERSION_NAME" >> $GITHUB_ENV
        shell: bash

      - name: Build APK
        run: ./gradlew assembleRelease

      - name: Move APK to artifact folder
        run: mv app/build/outputs/apk/release/app-release-unsigned.apk artifacts/app-release-${{ env.VERSION_NAME }}.apk
        env:
          VERSION_NAME: ${{ env.VERSION_NAME }}

      - name: Upload APK artifact
        uses: actions/upload-artifact@v2
        with:
          name: release-apk-${{ env.VERSION_NAME }}
          path: artifacts/app-release-${{ env.VERSION_NAME }}.apk
